
.form_components{
  padding: 10px;
  .antdpackaging_row{
    margin: 0!important;
  }
  .antdpackaging_row:not(:first-child){
    .antdpackaging_col{
      padding-top: 10px;
    }
    .antdpackaging_status_col{
      padding-top: 0px;
    }
    .antdpackaging_status_wrapper{
      border-top: none;
    }
  }
  .antdpackaging_row:not(:last-child){
    .antdpackaging_status_col{
      padding-bottom: 0px;
    }
  }
  .antdpackaging_col{
    padding-left: 0!important;
    padding-right: 0!important;
  }
}